
   .menu-toggle {
       display: none;
       flex-direction: column;
       cursor: pointer;
   }


   .menu-toggle span {
       background-color: rgb(0, 0, 0);
       height: 3px;
       width: 25px;
       margin: 5px 0;
       display: block;
       color: black;
   }

   @media screen and (max-width: 768px) {
       .menu-toggle {
           display: flex;
       }

       .menu {
           display: none;
           flex-direction: column;
           align-items: center;
       }

       .menu.open {
           display: flex;
       }

       .dropdown {
           position: static;
       }

       .dropdown-content {
           position: static;
           display: none;
           width: auto;
           /* Set the desired width for the submenus */
       }

       .dropdown:hover .dropdown-content {
           display: block;
       }
   }



   .dropdown {
       position: relative;
   }

   .dropdown-content {
       display: none;
       position: absolute;
       background-color: #ffffff;
       box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
       z-index: 50;
       width: auto;
       height: auto;
       padding: 10%;

       color: black; border-radius: 10px;
       /* Set the desired width for the submenus */
   }

   .dropdown:hover .dropdown-content {
       display: block;
   }
